#map {
    height: 100%;
  }

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.icons {
    text-align: center;
    height: 50px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  text-align: center;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.img {
    max-height: 75%;
    max-width: 75%;
    object-fit: cover;
}

#map {
    height: 35vh;
    width: 20vw;
    text-align: center;
}